@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');


.link-rotas{
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;

}

.sair-rotas{
    float: right;
    margin-right: 30px;
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2rem;
}

.carrinho-rotas{
    float:initial;
    margin-left: 50%;
    margin-left: 40%;
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2rem;
}
.home-rotas{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2rem;
}


