header {
    height: 95px;
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.header-container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding: 0 2%;
}

.header-container__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex-basis: 50%;
}

.logo img {
    max-width: 175px;
}

.nav-menu {
    flex-basis: 50%;
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    margin: 0 14px;
    position: relative;
}

.nav-menu a:hover {
    color: purple;
}

.nav-menu a svg {
    width: 30px;
    height: 30px;
    color: #000;
}

.nav-menu a span {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: purple;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -10px;
    top: 0px;
}